* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body {
    font-family: "Noto Sans", Helvetica, Arial, sans-serif;
    color: #222;
}

header,
nav,
li .header__nav--links { 
    display: inline-block;
    background-color: #5865f2;
    color: #FFF;
    padding-top: 10px;
    width: 100%;
}

.main__logo {
    display: inline-block;
    background-color: #5865f2;
    padding-left: 20%;
    font-size: 19px;
    font-weight:700;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    display: inline-block;
    text-align: center;
    padding: 10px 160px 10px 160px;
}

nav ul li {
    display: inline-block;
    width: 100px;
    list-style: none;
}

.header__button--login {
    display: inline-block;
    border-radius: 40px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #000;
    background-color: #fff;
}

p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.main__content--hero {
    display: inline-block;
    padding: 100px 300px 200px 300px; 
    width: 100%;
    background-color:#5865f2;
}

h1 {
    text-transform:uppercase;
    text-align: center;
    padding: 20px;
    font-size: 60px;
    color: #fff;
}

h2 {
    font-size: 40px;
    padding-bottom: 40px;
    color:#000;
}

.content__hero--text {
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    margin:25px 290px 25px 290px;
    width:55%;
}

.content__hero--buttons {
    text-align: center;
    padding: 10px;
}

.button__text--download {
    display: inline-block;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;  
    background-color: #fff;
    color:#000;
    padding: 20px;
    margin-right: 50px;
}

.button__text--browser {
    display: inline-block;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;  
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 5px;    
}

section {
    display: block;
}

.section--text {
    font-size: 21px;
    line-height: 30px;    
    color:#000;
}

.create-an-invite__section {
    display: block;
    background-color:#fff;
    font-size: 0;
    color:#000;
}

.create-an-invite__container {
    display: block;
    margin: auto;
    width: 100%;
    background-color:#fff;
    font-size: 0;
    color:#000;
}

.section__01--left-img {
    display: inline-block;
    vertical-align: middle;
}

.section__01--right {
    display: inline-block;
    vertical-align: middle;
    background-color:#fff;
    font-size: 18px;
    color:#000;
}

.section__02 {
    display: block;
    margin: auto;
    width: 100%;
    background-color:#ebebeb;
    font-size: 0;
    color:#000;
}

.section__02--left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-right: 50px;
    padding-left: 550px;
    background-color:#ebebeb;
    font-size: 18px;
    color:#000;
}

.section__02--right-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 150px 150px 150px 20px;
}

.section__03 {
    display: block;
    margin: auto;
    width: 100%;
    background-color:#fff;
    font-size: 0;
    color:#000;
}

.section__03--left-img {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 150px;
}

.section__03--right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding-left: 50px;
    padding-right: 550px;
    background-color:#fff;
    font-size: 18px;
    color:#000;
}

.section__04 {
    display: inline-block;
    padding: 100px 100px 100px 100px; 
    width: 100%;
    background-color:#ebebeb;
    font-size: 18px;
    color:#000;
}

.section__04--center-header-text {
    background-color:#ebebeb;
    text-transform:uppercase;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin: 20px;
}

.section__04--center-text {
    background-color:#ebebeb;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    padding:50px 290px 50px 290px;
    width:100%;
    color:#000;
}

.section__04--center-img {
    text-align: center;
    width:100%;
}

.section__04--text {
    background-color:#ebebeb;
    color: #000;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin: 20px;
}

.section__04--download-link {
    display: inline-block;
    background-color:#ebebeb;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    padding:125px 90px 125px 90px;
    width:100%;
    color:#000;
}

.button__text--download-bottom {
    display: inline-block;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;  
    background-color: #fff;
    color:#000;
    padding: 20px;
    margin-right: 50px;
}

a:link, a:visited, a:active {
    color:#fff;
    text-decoration: none;
}

a:hover {
    color:#fff;
    text-decoration: underline;
}